
/* -----------------------------------
** Error
-------------------------------------*/
.error-page-content{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.error-page-title{
  font-size: 270px;
  margin-bottom: 0;
  color: #FFBB41;
}
.error-page-woops{
  font-size: 35px;
  margin-bottom: 15px;
  opacity: .8;
}
.error-page-text{
  font-size: 20px;
  line-height: 1.1;
  opacity: .8;
}
.main-container{
  padding-top: 50px;
  padding-bottom: 30px
}
/* -----------------------------------
** End Error
-------------------------------------*/
